:root {
  --md-primary-fg-color: #004895; /* Primary blue */
  --md-accent-fg-color: #088E0D;  /* Accent green */
  --md-default-bg-color: #FFFFFF; /* Background white */
  --md-default-fg-color: #333333; /* Default text color */
  --md-border-color: #DDD8E8;     /* Light gray for borders */
}

.md-header {
  background-color: #004895; /* Match the primary color for the header */
  color: #FFFFFF; /* Ensure the text is readable on the dark background */
}

.md-nav__link {
  color: #004895; /* Primary color for navigation links */
}

.md-nav__link--active {
  color: #088E0D; /* Accent color for active navigation links */
}

.md-tabs {
  display: none; /* Hide the top menu bar */
}

/* Ensure the sidebar is always visible */
.md-sidebar {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  background-color: #f8f8f8; /* Adjust as needed */
  overflow-y: auto;
  z-index: 1000; /* Ensure it stays on top */
}

.md-main {
  margin-left: 250px; /* Match the width of the sidebar */
}

@media (max-width: 768px) {
  .md-sidebar {
      position: relative;
      width: 100%;
      height: auto;
  }

  .md-main {
      margin-left: 0;
  }
}